@charset "UTF-8";
.ed-tabs {
  .ed-tabs-fonts5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ed-tabs-fonts6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow: hidden;
  }
}

.index, .tab-pane {
  overflow: hidden;
}

.bsgrid a {
  cursor: pointer;
}

.ed-loading {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.ed-header {
  width: 100%;
  margin: 0 auto;
  height: 117px;
  background: url(../images/head-bg.png) center top no-repeat #fff;
  .ed-header-title {
    position: absolute;
    top: 22px;
    left: 33px;
    width: 600px;
    height: 42px;
    background: url(../images/head-bg-title.png) no-repeat;
  }
  .ed-header-ul {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 37px;
    padding-left: 12px;
    ul {
      li {
        width: 108px;
        height: 36px;
        float: left;
        margin-top: 1px;
        text-align: center;
        margin-right: 2px;
        background: url(../images/normal-bg.png) center center no-repeat;
        &:hover .dropdown-menu {
          display: none;
        }
        a {
          font-family: "宋体";
          display: block;
          width: 100%;
          text-align: center;
          height: 36px;
          line-height: 36px;
          color: #fff;
          font-weight: 700;
          text-decoration: none;
          font-size: 14px;
          cursor: pointer;
          padding: 0;
        }
      }
      .active {
        background: url(../images/active-bg.png) center center no-repeat;
        a {
          color: #000;
          font-size: 14px;
        }
      }
    }
    .ed-header-search {
      height: 28px;
      width: 304px;
      position: absolute;
      right: 4px;
      top: 4px;
      border: #5291de;
      font-size: 14px;
      color: #2e69b1;
      background: url(../images/search-image.png) no-repeat;
      input {
        background-color: transparent;
        border: 0;
        height: 100%;
        width: 90%;
        margin-left: 20px;
        color: #000;
        line-height: 26px;
      }
      i {
        position: absolute;
        top: 3px;
        right: 5px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .navbar {
    margin: 0;
  }
}

.ed-top {
  height: 117px;
}

.ed-setting-btns {
  position: absolute;
  top: 26px;
  right: 25px;
  text-align: right;
  line-height: 20px;
  height: 21px;
  font-size: 12px;
  font-weight: 700;
  li {
    .li-icon-off, .li-icon-unit, .li-icon-user {
      background-image: url(../images/icon/setting-sprite.png);
      height: 12px;
      display: inline-block;
    }
    display: inline-block;
    color: #fff;
    cursor: pointer;
    margin-left: 12px;
    font-size: 12px;
    i {
      margin-right: 3px;
      font-size: 14px;
      vertical-align: -1px;
    }
    .li-icon-unit {
      background-position: 0 0;
      width: 12px;
    }
    .li-icon-off {
      background-position: -22px 0;
      width: 12px;
    }
    .li-icon-user {
      background-position: 0 -22px;
      width: 11px;
    }
    &:hover {
      color: #fff;
    }
  }
}

.ed-tabs {
  padding-left: 30px;
  position: relative;
  &.nav {
    margin-bottom: 0;
  }
}

.nav-tabs {
  border: 0;
}

.ed-tabs > .nav-tabs > {
  .active > a {
    color: #666;
    cursor: default;
    background-color: #fff;
    border: 0 solid #ddd;
    border-bottom-color: transparent;
    font-weight: 700;
    &:focus, &:hover {
      color: #666;
      cursor: default;
      background-color: #fff;
      border: 0 solid #ddd;
      border-bottom-color: transparent;
      font-weight: 700;
    }
  }
  li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0 solid transparent;
    background-color: #94c1ed;
    color: #fff;
    border-radius: 0;
  }
}

.ed-tab .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #445968;
  border-bottom-color: #445968;
  margin-top: 6px;
}

.ed-tabs {
  > .nav-tabs > li > {
    a:hover {
      .caret {
        border-top-color: #445968;
        border-bottom-color: #445968;
        margin-top: 6px;
      }
      background-color: #5e9ad4;
    }
    .ed-tabs-left {
      border-radius: 5px 0 0;
    }
    .ed-tabs-right {
      border-radius: 0 5px 0 0;
    }
    .ed-tabs-both {
      border-radius: 5px 5px 0 0;
    }
  }
  &.nav-pills {
    > li > a {
      padding-right: 25px;
      padding-left: 25px;
      margin-right: 1px;
      line-height: 14px;
      font-size: 14px;
      position: relative;
    }
    > li > .ed-tabs-spadding {
      padding-top: 3px;
      padding-right: 10px;
      padding-left: 10px;
      height: 14px;
      margin-top: 5px;
      margin-right: 1px;
      line-height: 14px;
    }
    > li > .ed-tabs-spadding .caret {
      margin-top: 8px;
    }
    > li > .ed-tabs-have-close {
      padding-right: 10px;
      padding-left: 20px;
      margin-right: 1px;
      line-height: 14px;
    }
  }
  > .nav-tabs > li > a {
    padding-right: 25px;
    padding-left: 25px;
    margin-right: 1px;
    line-height: 14px;
    font-size: 14px;
    position: relative;
  }
  > .nav-tabs > li > .ed-tabs-spadding {
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 10px;
    height: 14px;
    margin-top: 5px;
    margin-right: 1px;
    line-height: 14px;
  }
  > .nav-tabs > li > .ed-tabs-spadding {
    margin-top: 8px;
  }
  > .nav-tabs > li > .ed-tabs-have-close {
    padding-right: 10px;
    padding-left: 20px;
    margin-right: 1px;
    line-height: 14px;
  }
}

.ed-tabs-have-close > .close {
  line-height: 14px;
  padding-left: 10px;
}

.ed-tabs {
  .ed-tabs-fonts5 {
    width: 90px;
    display: block;
  }
  .ed-tabs-fonts6 {
    width: 100px;
    display: block;
  }
  button.close {
    position: absolute;
    right: 7px;
    top: 5px;
  }
}

.ed-tabs-control {
  > ul > li {
    position: relative;
  }
  button.close {
    position: absolute;
    right: 7px;
    top: 2px;
  }
}

.ed-footer, .ed-left, .ed-main {
  position: relative;
}

.ed-tab .nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.ed-main {
  padding: 0;
  background: #fff;
}

.ed-index-todo {
  margin: 20px 0 0 20px;
}

.ed-index-list-wrap {
  height: 220px;
  margin-bottom: 20px;
}

.index-50-1 {
  float: left;
  width: 50%;
}

.index-50-2 {
  margin-left: 50%;
}

.index-60-1 {
  float: left;
  width: 60%;
}

.index-40-2 {
  margin-left: 60%;
}

.ed-index-list-wrap .index-list {
  border: 1px solid #ebedda;
  margin-right: 20px;
  height: 100%;
  h3 {
    font-size: 14px;
    text-indent: 30px;
    margin: 0;
    border-bottom: #ebedda solid 1px;
    line-height: 35px;
    height: 35px;
  }
}

.ed-left-nav > li {
  .nav-list > li > a, > a {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.ed-index-list-wrap .index-list {
  ul {
    &.index-list-text > li {
      line-height: 30px;
      height: 30px;
      > {
        a {
          color: #666;
          display: block;
          height: 30px;
          margin-right: 80px;
          overflow: hidden;
          text-indent: 20px;
          cursor: pointer;
          &:hover {
            color: #000;
          }
        }
        span {
          display: block;
          height: 30px;
          width: 70px;
          float: right;
        }
      }
    }
    &.index-list-img {
      margin: 5px;
      > li {
        border-radius: 6px;
        width: 20%;
        float: left;
        text-align: center;
        padding: 10px 0;
        height: 68px;
        cursor: pointer;
        &:hover {
          background-color: #ebedda;
        }
        img {
          width: 48px;
          height: 48px;
        }
        span {
          display: block;
          line-height: 25px;
          height: 30px;
          text-align: center;
          color: #000;
        }
      }
    }
    &.index-list-text > li > p {
      float: right;
      background: url(../../../common/js/jq_plugins/page_plus/images/msg_delete.png) left no-repeat;
      width: 16px;
      height: 16px;
      overflow: hidden;
      margin: 8px 0 0;
      padding: 0 8px 0 0;
      cursor: pointer;
    }
  }
  h3 a {
    color: #fff;
    margin-right: 8px;
    &.active, &:hover {
      font-weight: 700;
    }
  }
  .index-list-iframe {
    height: 185px;
  }
  .index-list-links {
    position: relative;
    height: 185px;
    overflow: hidden;
  }
}

.ed-footer {
  height: 30px;
  width: 100%;
  background: #94c1ed;
  z-index: 5;
}

.ed-copyright {
  height: 30px;
  margin-left: 30px;
  margin-right: 300px;
  line-height: 30px;
  color: #fff;
}

.ed-footer-btns, .oa-form-line .form-group-footer label {
  margin-right: 10px;
}

.ed-footer-btns {
  width: 250px;
  float: right;
  li {
    padding: 3px 7px;
    height: 27px;
    float: right;
    cursor: pointer;
  }
}

.config_left, .ed-left, .ed-right {
  float: left;
}

.ed-footer-btns li:hover {
  background-color: #5e9ad4;
}

.ed-left {
  cursor: pointer;
  background: #f6f6f6;
  width:200px;
  height: 100%;
  .ed-left-nav-ul-box {
    overflow: hidden;
    height: 100%;
  }
  .ed-left-switch {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
    background-color: #dedede;
    border-left: 1px solid #c6c6c6;
  }
  .switch-1:before, .switch-2:before, &:hover .switch-1::before {
    height: 66px;
    margin-top: -33px;
    top: 50%;
    position: absolute;
  }
  .switch-1:before {
    content: ' ';
    width: 7px;
    right: 0;
    background: url(../images/m_default-images/default-left.png) no-repeat;
  }
  &:hover .switch-1::before {
    content: '';
    cursor: pointer;
    width: 21px;
    right: 0;
    background: url(../images/m_default-images/hover-open-left.png) 100% no-repeat;
    z-index: 99999;
  }
  .nav-list {
    padding: 0;
  }
  .switch-2 {
    &:before {
      content: "";
      width: 7px;
      right: -1px;
      background: url(../images/m_default-images/default-right.png) 100% no-repeat;
      z-index: 99999;
    }
    &:hover:before {
      content: '';
      cursor: pointer;
      width: 21px;
      right: -14px;
      background: url(../images/m_default-images/hover-open-right.png) 100% no-repeat;
      z-index: 99999;
    }
  }
}

.ed-left-nav > li {
  background-color: #fff;
  > a {
    color: #2f2f2f;
    height: 36px;
    padding-left: 20px;
    padding-top: 8px;
    margin: 0;
    font-family: '宋体','微软雅黑',Verdana,sans-serif,serif;
    border-bottom: 1px dashed #dedede;
    .i-arrow-right {
      position: absolute;
      top: 7px;
      right: 14px;
      color: #2f2f2f;
    }
  }
  .nav-list > li {
    background-color: #dedede;
    > a {
      color: #2f2f2f;
      line-height: 30px;
      height: 31px;
      padding: 0 0 0 15px;
      background-color: #f2f3f3;
      border-left: 1px solid #c6c6c6;
      border-right: 1px solid #c6c6c6;
      border-bottom: 1px dashed #c6c6c6;
      margin: 0 14px 0 7px;
    }
  }
  &.on {
    > {
      a {
        background-color: #8dbcf0;
        color: #fff;
        cursor: default;
        font-weight: 700;
        > .icon-angle-double-right {
          color: #fff;
          top: 8px;
          &:before {
            content: "\f103";
          }
        }
      }
      ul > li.on > a {
        cursor: default;
        background-color: #8cbcf0;
        color: #fff;
        font-weight: 700;
      }
    }
    > ul {
      display: block;
    }
  }
  > ul {
    display: none;
  }
}

.config_left .level_1 .level_2, .ed-index-list-wrap .index-list .btn {
  display: none;
}

.config_left {
  width: 117px;
  height: 100%;
  background-color: #f6f6f6;
}

.config_right {
  float: left;
  height: 100%;
  width: 100%;
  margin-right: -180px;
}

.config_left .level_1 {
  > li {
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    text-indent: 20px;
    &.on, &.ononly {
      background-color: #F8DF6D;
      color: #000;
    }
    &.on .level_2 {
      background: #f6f6f6;
    }
  }
  .level_2 {
    a {
      color: #000;
    }
    > li {
      text-indent: 35px;
      font-size: 12px;
      line-height: 30px;
      &.on {
        background: url(../images/config_left_menu_bg_2.png) 160px 10px no-repeat #ddd;
        a {
          color: #0173be;
        }
      }
    }
  }
}

.fieldset_style {
  width: 600px;
  min-height: 50px;
  margin: 20px 10px 10px;
  padding: 10px;
  border: 1px solid #eee;
  position: relative;
}

.area_name {
  position: absolute;
  background: #fff;
  top: -10px;
  left: 20px;
  line-height: 20px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 700;
}

.ed-toolbar {
  padding: 5px 10px;
  height: 30px;
  background: #fff;
  border-bottom: 1px #ccc solid;
  border-top: 1px #ccc solid;
  > .btn {
    margin: 0 2px;
  }
  .input-append {
    margin-bottom: 0;
  }
}

.input-prepend {
  margin-bottom: 0;
}

.ed-advanced-search-bar {
  position: absolute;
  z-index: 20;
  display: none;
  width: 100%;
  margin-top: 5px;
  padding: 5px 10px;
  line-height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  td label {
    padding-left: 10px;
  }
}

.ed-toolbar {
  select {
    width: 90px;
  }
  input[type=text] {
    width: 110px;
  }
}

.ed-index-list-wrap .index-list-edit {
  border: 2px dotted #666;
  .btn {
    display: inline-block;
  }
  h3 {
    border-bottom: #666 dotted 2px;
  }
}

.portal-edit-toolbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  border-bottom: #fff solid 1px;
  > a {
    margin-left: 10px;
  }
}

.ed-index-list-wrap {
  .index-list h3 {
    span {
      display: inline-block;
      float: right;
      width: 150px;
    }
    a {
      padding: 2px 5px;
      text-indent: 0;
    }
  }
  .index-list-edit h3.move-block {
    cursor: move;
  }
}

.move_border {
  position: absolute;
  z-index: 9999;
  border: 2px dotted #666;
}

.ed-index-list-wrap .index-list-edit h3.red-border {
  border: 2px dotted red;
}

.button-main, .common-skin-btn-syle01 {
  border-color: #4786d5;
  background-color: #5b97e1;
  &:focus {
    border-color: #4786d5;
    background-color: #5b97e1;
  }
}

.no_select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-main, .common-skin-btn-syle01 {
  color: #fff;
  box-shadow: 0 2px 2px #c5c5c5,2px 0 2px #c5c5c5;
}

.button-main:hover, .common-skin-btn-syle01:hover {
  color: #fff;
  border-color: #3bd;
  background-color: #3bd;
}

.button-main:active, .common-skin-btn-syle01:active {
  border-color: #4786d5;
  background-color: #5b97e1;
}

.tool-bar-input {
  padding: 5px;
  position: relative;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
  -moz-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
  &:focus {
    border-color: #09c;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1) 0s;
  }
}

.left-tree-input {
  padding: 5px 5px 5px 10px;
  height: 34px;
}

.oa-form-line {
  width: 748px;
  margin: 0 auto;
  padding: 24px 0 20px;
  font-size: 12px;
  .form-group {
    padding: 0;
    position: relative;
    margin-top: 5px;
    .field {
      height: 100%;
      position: static;
      .input-help {
        left: 70px;
        ul {
          width: 300px;
          li {
            float: left;
            margin-top: 6px;
          }
        }
      }
      .field-left {
        width: 80px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        margin-top: 0;
        color: #2f2f2f;
        background-color: #fff;
        border: 1px solid #98cdf4;
        border-right: 0;
        float: left;
      }
      .field-left-textarea {
        height: 68px;
        line-height: 68px;
      }
      .field-right {
        background-color: #eee;
        border-bottom: 1px solid #98cdf4;
        border-top: 1px solid #98cdf4;
        border-right: 2px solid #98cdf4;
        .input {
          padding: 11px 12px;
          border-radius: 0;
          -webkit-border-radius: 0;
          border-top: 1px solid #98cdf4;
          border-bottom: 1px solid #98cdf4;
          border-right: 0;
          border-left: 2px solid #98cdf4;
          background-color: #eee;
        }
        input {
          height: 38px;
        }
        .input-radio {
          line-height: normal;
          height: auto;
        }
        select {
          padding: 10px 12px !important;
          height: 38px;
        }
        textarea {
          height: 66px;
        }
        .js-add-input {
          position: relative;
        }
        .icon-minus, .icon-plus {
          font-size: 17px;
          color: #4992c7;
          cursor: pointer;
          position: absolute;
          right: 7px;
          bottom: 7px;
        }
        .icon-minus, .icon-minus-last {
          right: 30px;
        }
      }
    }
  }
}

.oa-read-pass-grid {
  &.loading_div, &.lockscreen {
    right: 0;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.oa-form-line {
  .form-group .field .filed-right-radio {
    height: 40px;
    border: 2px solid #98cdf4;
    line-height: 38px;
  }
  .x6 {
    width: 345px;
    .field .field-right {
      width: 263px;
    }
  }
  .x12 {
    width: 748px;
    .field .field-right {
      width: 666px;
    }
  }
  .form-group-right {
    margin-left: 56px;
  }
  .form-group-footer {
    margin-top: 45px;
    label input {
      vertical-align: -3px;
    }
    .button {
      padding: 5px 60px;
    }
  }
}

.oa-form-set-box {
  margin: 3px 6px 0 3px;
}

.oa-form-set {
  border: 2px solid #4a91c7;
  display: table;
  width: 100%;
  form {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 100%;
    .form-group {
      background-color: #eee;
      margin: 0;
      border-bottom: 1px solid #98cdf4;
      padding-bottom: 0;
      width: 100%;
      text-align: left;
      .button {
        margin: 8px;
      }
      .field {
        color: #2f2f2f;
        height: 100%;
        display: table-row;
        width: 100%;
        .field-left {
          width: 184px;
          text-align: left;
          background-color: #fff;
          font-weight: 700;
          margin: 0;
          display: table-cell;
          float: none;
          border: 0;
          border-right: 1px solid #98cdf4;
          vertical-align: middle;
          padding-left: 7px;
          height: auto;
          line-height: normal;
        }
        .field-right {
          display: table-cell;
          vertical-align: middle;
          float: none;
          padding-right: 200px;
          border: 0;
          &:before {
            content: " ";
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #fff;
          }
          input {
            border: 0;
          }
          textarea {
            border: 0 !important;
            overflow-y: hidden;
            padding: 3px;
            background-color: #eee;
            height: 40px;
            line-height: normal;
          }
          .btn-right {
            width: 76px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background-color: #c0daf5;
            border-left: 1px solid #98cdf4;
            border-right: 1px solid #98cdf4;
            font-size: 12px;
            color: #4992c7;
            text-align: center;
            cursor: pointer;
            font-weight: 700;
            span {
              position: relative;
              top: 50%;
              margin-top: -7px;
              display: block;
            }
          }
        }
      }
    }
  }
}

.layer-choice-pop {
  margin: 0 44px;
  .layer-choice-header {
    padding-top: 10px;
    span {
      font-size: 12px;
      color: #2f2f2f;
      font-weight: 700;
    }
    .layer-header-select {
      margin-top: 3px;
      .select-box {
        width: 50%;
      }
    }
  }
  .select-choice-next {
    background-color: #ebebeb;
    border: 1px solid #d6d6d6;
    padding: 10px 0;
    &:after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden;
    }
    label {
      display: inline-block;
      cursor: pointer;
      color: #000;
      margin: 2px 0;
      input {
        margin: 0 5px 0 15px;
      }
    }
  }
  .input-search {
    position: absolute;
    left: 58px;
    top: -10px;
    width: 339px;
    input {
      margin-left: 0;
      margin-top: 3px;
      width: 100%;
    }
    i {
      color: #ddd;
      position: absolute;
      left: 120px;
      top: 15px;
    }
  }
  .layer-choice-content {
    margin-top: 30px;
    .layer-choice-content-header {
      span {
        font-size: 12px;
        color: #2f2f2f;
        font-weight: 700;
        float: left;
      }
      .header-left {
        line-height: 26px;
        height: 26px;
        float: left;
      }
      .header-clear {
        line-height: 26px;
        height: 26px;
        font-size: 12px;
        font-weight: 700;
        float: right;
        cursor: pointer;
        color: #4989d8;
      }
    }
    .layer-choice-content-body {
      margin-top: 3px;
      border: 2px solid #76aff6;
      height: 316px;
      .body-choice-left {
        float: left;
        width: 50%;
        height: 100%;
        overflow: scroll;
        overflow-x: hidden;
        border-right: 2px solid #76aff6;
        select {
          height: 100%;
          width: 100%;
          border: 0;
          option {
            background-color: #e3e3e3;
            margin-top: 1px;
            height: 28px;
            padding-left: 16px;
            padding-top: 5px;
          }
        }
        ul {
          li {
            height: 28px;
            line-height: 28px;
            margin-top: 1px;
            background-color: #e3e3e3;
            width: 100%;
            padding-left: 17px;
            color: #2f2f2f;
            cursor: pointer;
            font-size: 12px;
          }
          .selected, li:hover {
            background-color: #77aff5;
            color: #fff;
          }
        }
      }
      .body-choice-right {
        float: left;
        width: 50%;
        height: 100%;
        .choice-content {
          overflow: auto;
          padding-bottom: 10px;
          .choice-content-btn {
            border: 1px solid #c7c7c7;
            background-color: #f1f1f1;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            padding: 4px 6px;
            display: inline-block;
            margin: 5px 0 0 5px;
            font-size: 12px;
            color: #1d140d;
            cursor: pointer;
            position: relative;
            i {
              color: #a2a2a2;
              padding-left: 5px;
            }
            .otherLogin {
              display: inline-block;
              width: 33px;
              height: 17px;
              vertical-align: -4px;
              margin-left: 10px;
              background: url(../images/otherLogin.png) no-repeat;
            }
            &:hover .icon-times {
              color: #e70404;
            }
          }
        }
      }
    }
  }
  .layer-choice-footer {
    margin-top: 10px;
    .message-label {
      font-size: 12px;
      line-height: 26px;
      height: 26px;
      label {
        cursor: pointer;
        input {
          vertical-align: -3px;
          margin-right: 8px;
        }
      }
    }
    .massage-look {
      display: none;
    }
  }
}

.message-textarea-box {
  padding: 0 55px;
  .add-phone {
    margin: 15px 0 -20px;
    font-size: 12px;
    input {
      width: 450px;
      margin-left: 20px;
    }
  }
  h4 {
    font-weight: 700;
    font-size: 12px;
    color: #2f2f2f;
  }
  .sendObj {
    h4 {
      margin-top: 18px;
    }
    .send-content {
      font-size: 12px;
      color: #2f2f2f;
      overflow: auto;
      height: 180px;
      border: 1px solid #c4c4c4;
      background-color: #e2e2e2;
      padding: 4px 5px 0;
      margin-top: 6px;
    }
  }
}

.oa-form-grid {
  td, th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.oa-read-pass-grid td.lineNoWrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-textarea-box {
  .sendObj .send-content label {
    cursor: pointer;
    display: inline-block;
    margin: 8px 0 0;
    input {
      vertical-align: top;
      margin-right: 6px;
      background-color: #fff;
    }
  }
  .message-textarea {
    width: 100%;
    margin: 35px auto 13px;
    padding: 10px 20px;
    border: 2px solid #73addf;
    border-radius: 4px;
    textarea {
      width: 100%;
      height: 80px;
      border: 0;
    }
  }
}

.note-textarea {
  width: 524px;
  height: 192px;
  margin: 35px auto 13px;
  border: 2px solid #73addf;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  textarea {
    border: 0;
    width: 462px;
    height: 150px;
  }
}

.note-page-textarea {
  width: 682px;
  height: 192px;
  margin: 35px auto 13px;
  border: 2px solid #73addf;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  textarea {
    border: 0;
    width: 670px;
    height: 150px;
  }
}

.resizable-drag-line {
  background-color: #6fb8ed;
}

.resizable {
  background-color: #6fb8ed !important;
}

#ghost {
  border-color: #6fb8ed !important;
}

.statistics {
  font-size: 12px;
  .statistics-select {
    width: 156px;
  }
  .statistics-condition .span-bold {
    font-weight: 700;
  }
  .statistics-tab {
    padding-top: 6px;
    width: 98%;
    .tab-btn {
      width: 70px;
      height: 24px;
      line-height: 24px;
      background-color: #6fa8ee;
      font-size: 12px;
      color: #fff;
      float: left;
      text-align: center;
      cursor: pointer;
      margin-left: 5px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    .tab-content-show {
      height: 40px;
      line-height: 40px;
      background-color: #71b9ed;
      font-weight: 700;
      color: #2f2f2f;
      padding-left: 14px;
    }
  }
}

.oa-bread {
  margin-bottom: 0;
  font-size: 12px;
  color: #2f2f2f;
  padding: 5px;
  li {
    float: left;
    margin: 0 4px;
  }
}

.oa-form-grid {
  margin: 0 auto;
  border: 2px solid #98cef4;
  th {
    font-weight: 700;
    text-align: center !important;
    padding-left: 0;
  }
  td {
    a {
      color: #5b97e1;
      font-size: 18px;
      cursor: pointer;
      margin-right: 14px;
    }
    .file-icon {
      height: 20px;
      line-height: 20px;
      padding-left: 20px;
      background: url(../images/file-icon.png) -6px -16px no-repeat;
    }
  }
  .tr-no-data {
    margin: 0 auto;
    height: 38px;
    line-height: 36px;
    color: #333;
    text-align: center;
    font-size: 12px;
  }
}

.oa-form-grid-tr-no-data {
  margin: 0 auto;
  height: 38px;
  line-height: 36px;
  color: #333;
  text-align: center;
  font-size: 12px;
}

.oa-form-grid {
  td {
    .file-icon-word {
      background: url(../images/file-icon.png) -6px -100px no-repeat;
    }
    .file-icon-pdf {
      background: url(../images/file-icon.png) -6px -140px no-repeat;
    }
    .file-icon-tiangu {
      background: url(../images/file-icon.png) -6px -59px no-repeat;
    }
  }
  .tr-no-data:hover {
    background: #dfe8f6;
  }
}

.oa-form-grid-tr-no-data:hover {
  background: #dfe8f6;
}

.oa-form-grid .tr-no-data {
  border: 1px solid #98cef4;
  border-top: 0;
  td {
    text-align: center;
  }
}

.oa-form-grid-tr-no-data {
  border: 2px solid #98cef4;
  border-top: 0;
  position: relative;
  z-index: 100;
}

.oa-form-attachment {
  margin-top: 50px;
  width: 680px !important;
  .tr-selected td {
    background-color: #71b8ec !important;
  }
}

.oa-form-note-header i {
  font-style: normal;
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url(../images/note-bg.png) no-repeat;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
  text-align: center;
  font-family: "宋体";
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.document-exchange-main .document-exchange-header .document-exchange-header-ul li, .oa-index-html, .oa-read-pass-grid, .personal-file-cabinet .left-menu,.document-exchange-main-only-one .document-exchange-header .document-exchange-header-ul li{
  font-family: '宋体','微软雅黑',Verdana,sans-serif,serif;
}

.oa-read-pass-grid {
  font-size: 12px;
  border: 2px solid #71b8ec;
  margin-top: 60px;
}

table.oa-read-pass-grid {
  width: 100% !important;
  margin-right: 5px;
  table-layout: fixed;
  border-collapse: collapse;
  .pass-grid-intable {
    width: 595px;
    td {
      height: 38px;
    }
  }
}

.oa-read-pass-grid {
  td, th {
    border-bottom: 1px solid #98cef4;
    border-right: 1px solid #98cef4;
    background-color: #fff;
    text-align: left !important;
    padding-left: 14px;
    color: #333;
    height: 38px;
    vertical-align: middle;
  }
  td.lineWrap {
    word-break: break-all;
  }
  th {
    font-weight: 400;
  }
  tr {
    &.even_index_row td {
      background-color: #eef;
    }
    &.row_hover td {
      background-color: #fff1cc !important;
    }
  }
  .interlaced-th td {
    background-color: #f2f2f2;
  }
  tr {
    &.selected.selected_color td, &:hover td {
      background-color: #dfe8f6 !important;
    }
  }
  a {
    color: #f60;
    text-decoration: none;
  }
  &.lockscreen {
    z-index: 2014;
    background: #000;
    filter: alpha(opacity = 10);
    opacity: .1;
    -moz-opacity: .1;
  }
  &.loading_div {
    z-index: 2015;
  }
}

.oa-meeting-entry {
  width: 1200px;
  margin: 0 auto;
}

.icon-long-arrow-down, .icon-long-arrow-up, .main-note-tip {
  margin-left: 5px;
}

.oa-meeting-entry {
  h4 {
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .td-input {
    width: 90%;
    height: 100%;
    border: 0;
    background-color: transparent;
    line-height: 38px;
  }
}

.bg-material, .bg-material-title, .resource-link, .upload-title {
  width: 680px;
  color: #000;
  font-weight: 700;
}

.oa-meeting-entry .td-select {
  border: 0;
  background-color: transparent;
  padding: 5px 15px;
}

.bg-material-title {
  margin: 38px auto 0;
}

.bg-material {
  margin: 7px auto 0;
}

.resource-link {
  margin: 13px auto 0;
}

.upload-title {
  margin: 93px auto 10px;
}

.seal-file-choice .file-btn {
  border: 1px solid #c7c7c7;
  background-color: #f1f1f1;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  color: #1d140d;
  cursor: pointer;
  margin: 5px auto 0;
  width: 180px;
  text-align: center;
}

.wait-form {
  margin-top: 32px;
  h1 {
    font-size: 20px;
    color: #f2655d;
    text-align: center;
    margin-bottom: 20px;
  }
  .wait-table {
    width: 724px;
    margin: 0 auto;
    border: 1px solid #ef655d;
    border-bottom: 0;
    font-size: 14px;
    color: #000;
    tr {
      border-bottom: 1px solid #ef655d;
      td {
        text-align: center;
        vertical-align: middle;
        padding-left: 20px;
        select {
          height: 90%;
          width: 100%;
          border: 0;
        }
        textarea {
          height: 143px;
          width: 594px;
          border: 0;
        }
      }
      .radio-check {
        color: #ef655d;
        label {
          cursor: pointer;
          input {
            margin-right: 4px;
          }
        }
      }
      .message-label {
        cursor: pointer;
      }
      .td-left {
        width: 108px;
        font-size: 16px;
        color: #f2655d;
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #ef655d;
        padding-left: 0;
      }
      .td-text-left {
        text-align: left;
      }
    }
    .intable {
      width: 100%;
      height: 100%;
      tr {
        border-bottom: 0;
        .td-mid {
          border-left: 1px solid #ef655d;
          border-right: 1px solid #ef655d;
          padding-left: 0;
          color: #ef655d;
        }
        .td-input {
          width: 100%;
          height: 100%;
          border: 0;
        }
      }
    }
  }
  input[readonly] {
    background: #fff !important;
  }
  .message-tip {
    cursor: pointer;
    margin-right: 10px;
    input {
      vertical-align: -1px;
    }
  }
}

.document-exchange-body .document-exchange-body-main .document-exchange-body-top .main-file .file-ul li label input, .export-data-by-field .cursor-pointer input, .layer-choice-send-pop .logoin-pop-right label input {
  vertical-align: -2px;
}

.history-btn-top-text {
  width: 680px;
  margin: 20px auto 0;
  span {
    color: #000;
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
  }
  .btn-block {
    display: block;
  }
  .btn-hide {
    display: none;
  }
}

.layer-choice-send-pop {
  width: 550px;
  margin: 0 auto;
  padding-top: 17px;
  .input-search {
    span {
      font-size: 12px;
      color: #2f2f2f;
      font-weight: 700;
      float: left;
      margin-top: 5px;
    }
    .tool-bar-input {
      width: 251px;
      float: left;
      margin-left: 20px;
    }
    label {
      float: left;
      cursor: pointer;
      margin-left: 20px;
      input {
        position: relative;
        top: 5px;
      }
      i {
        font-style: normal;
        position: relative;
        top: 2px;
      }
    }
  }
  ul {
    height: 160px;
    border: 2px solid #76aff6;
    overflow: auto;
    margin-top: 6px;
    li {
      height: 28px;
      line-height: 28px;
      margin-top: 1px;
      background-color: #e3e3e3;
      width: 100%;
      padding-left: 17px;
      color: #2f2f2f;
      cursor: pointer;
      font-size: 12px;
      &:hover {
        background-color: #77aff5;
        color: #fff;
      }
    }
  }
  .logoin-pop-right {
    height: 160px;
    border: 2px solid #76aff6;
    border-left: 0;
    overflow: auto;
    margin-top: 6px;
    width: 250px;
    float: right;
    label {
      display: block;
      cursor: pointer;
      margin: 5px;
    }
  }
}

.document-exchange-main {
  width: 814px;
  margin: 0 auto;
  position: relative;
  .searchHtml {
    width: 814px;
    height: 105px;
    overflow: auto;
    position: absolute;
    top: 170px;
    left: 0;
    background-color: #fff;
    border: 2px solid #73addf;
    z-index: 10;
    ul li {
      height: 28px;
      line-height: 28px;
      margin-top: 1px;
      background-color: #e3e3e3;
      width: 100%;
      padding-left: 17px;
      color: #2f2f2f;
      cursor: pointer;
      font-size: 12px;
      &:hover {
        background-color: #77aff5;
        color: #fff;
      }
    }
  }
  .document-exchange-header {
    margin-top: 13px;
    background-color: #e3e3e3;
    &:after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden;
    }
    .document-exchange-header-ul {
      height: 30px;
      li {
        height: 30px;
        line-height: 30px;
        color: #2f2f2f;
        background-color: #c8c8c8;
        margin-right: 1px;
        float: left;
        width: 110px;
        text-align: center;
        cursor: pointer;
      }
      .on {
        background-color: #4989d8;
        color: #fff;
      }
    }
  }
  .default-status {
    display: none;
  }
  .active {
    display: block;
  }
}

.document-exchange-main-only-one{
  width: 814px;
  margin: 0 auto;
  position: relative;

  .blue-border{
    border-radius: 4px;
    margin-top: 5px;
    background-color: #fff;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #73addf;
    line-height: 20px;
    color: #2f2f2f;
    .on{
      background-color:#98c6fe;
    }
  }
  .color-red{
    color:#ef0d0d;
  }
  .findSame td{
    color:red;
  }
  .findSame td a{
    color:red;
  }
  #entry_table td{
    padding-left:0px;
    text-align:center;
  }
  #leave_table td{
    padding-left:0px;
    text-align:center;
  }
  .unit-table{
    height: 210px;
    position: relative;
    overflow-y:scroll;
    padding-top: 40px;
    width: 814px;
  }
  .meeting-table{
    //height: 140px;
    position: relative;
    //overflow-y:scroll;
    width: 814px;;
    margin: 0 auto;
    //padding-top: 39px;
    margin-top:6px;
  }

  .js-room,.js-seat{
    padding-left: 5px;
  }

  .table-fixed-header-main{
    position: fixed;
    left: 50%;
    border-right:2px solid #71b8ec!important;
    th{
      height: 40px;
    }
  }

  .table-fixed-header{

    border-right:2px solid #71b8ec!important;
    th{
      height: 40px;
    }
  }

  .searchHtml {
    width: 814px;
    height: 105px;
    overflow: auto;
    position: absolute;
    top: 170px;
    left: 0;
    background-color: #fff;
    border: 2px solid #73addf;
    z-index: 10;
    ul li {
      height: 28px;
      line-height: 28px;
      margin-top: 1px;
      background-color: #e3e3e3;
      width: 100%;
      padding-left: 17px;
      color: #2f2f2f;
      cursor: pointer;
      font-size: 12px;
      &:hover {
        background-color: #77aff5;
        color: #fff;
      }
    }
  }
  .document-exchange-header {
    margin-top: 13px;
    background-color: #fff;
    &:after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden;
    }
    .document-exchange-header-ul {
      height: 30px;
      li {
        height: 30px;
        line-height: 30px;
        color: #2f2f2f;
        background-color: #c8c8c8;
        margin-right: 1px;
        float: left;
        width: 110px;
        text-align: center;
        cursor: pointer;
      }
      .on {
        background-color: #4989d8;
        color: #fff;
      }
    }
  }
  .default-status {
    display: none;
  }
  .active {
    display: block;
  }

  .oa-form-grid .td-auto{
    height: auto;
    overflow: visible;
    white-space:normal;
  }

  .document-exchange-body {
    .document-exchange-body-main{
      .document-exchange-body-top{
        .main-textarea-only{
          margin-top: 5px;
          width: 100%;
          padding: 5px 5px 5px 10px;
          border: 2px solid #73addf;
          border-radius: 4px;
          textarea{
            width: 100%;
            border: 0;
            font-size: 12px;
          }
        }
      }

    }

  }


}

.document-exchange-body {
  .h26 {
    line-height: 26px;
    height: 26px;
    font-size: 12px;
  }
  .font-bold {
    font-weight: 700;
  }
  .document-exchange-body-main {
    .header {
      .header-left {
        font-weight: 700;
        float: left;
        line-height: 26px;
        height: 26px;
      }
      span {
        font-size: 12px;
        color: #2f2f2f;
      }
      .header-right {
        float: right;
        height: 26px;
        line-height: 26px;
        font-size: 12px;
        color: #000;
      }
      .header-left-none {
        color: #ef0d0d;
      }
      .header-right-blue {
        cursor: pointer;
        color: #4989d8;
        font-weight: 700;
      }
    }
    .document-exchange-body-top {
      padding-top: 8px;
      .main {
        width: 100%;
        border: 2px solid #c8c8c8;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 5px;
        background-color: #e3e3e3;
        padding-left: 10px;
        padding-top: 15px ;
        padding-bottom:15px;
        line-height: 20px;
        color: #2f2f2f;
        .choice-content-btn {
          border: 1px solid #c7c7c7;
          background-color: #f1f1f1;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          padding: 4px 6px;
          display: inline-block;
          margin: 5px 0 0 5px;
          font-size: 12px;
          color: #1d140d;
          cursor: pointer;
          position: relative;
          i {
            color: #a2a2a2;
            padding-left: 5px;
          }
          .otherLogin {
            margin-right: 5px;
          }
          &:hover i {
            color: #e70404;
          }
        }
      }
      .main-textarea {
        margin-top: 5px;
        height: 103px;
        width: 100%;
        padding: 5px 5px 5px 10px;
        border: 2px solid #73addf;
        border-radius: 4px;
        textarea {
          width: 100%;
          height: 90px;
          border: 0;
          font-size: 12px;
        }
      }
      .other-textarea {
        height: 58px;
        textarea {
          height: 40px;
          color: #eb0e0e;
        }
      }
      .main-person {
        background-color: #fff;
        ul li {
          border: 1px solid #c7c7c7;
          background-color: #f1f1f1;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          padding: 4px 6px;
          display: inline-block;
          margin: 5px 0 0 5px;
          font-size: 12px;
          color: #1d140d;
          cursor: pointer;
          position: relative;
          i {
            color: #a2a2a2;
            padding-left: 5px;
          }
          &:hover i {
            color: #e70404;
          }
        }
      }
      .main-file {
        background-color: #fff;
        .leaver-icon {
          color: #5b97e1;
          font-size: 18px;
        }
        .upload-file {
          width: 18px;
          height: 18px;
          display: inline-block;
          background: url(../images/upload-file.png) no-repeat;
          cursor: pointer;
        }
        .leave-detail-file-ul {
          padding: 0 16px 0 0;
          li {
            &:after {
              clear: both;
              content: '.';
              display: block;
              height: 0;
              line-height: 0;
              overflow: hidden;
            }
            .li-left {
              float: left;
              width: 500px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .li-mid {
              float: left;
              color: #2f2f2f;
              line-height: 20px;
              height: 20px;
            }
            .li-right {
              float: right;
            }
          }
        }
        .file-ul {
          padding: 5px 0 0;
          li {
            margin: 10px;
            float: left;
            label {
              cursor: pointer;
              font-size: 12px;
              color: #2f2f2f;
            }
          }
        }
      }
    }
  }
  .layer-choice-pop .layer-choice-content {
    .unit-header {
      select {
        width: 168px;
        float: left;
        margin-right: 4px;
        position: relative;
        margin-left: 10px;
      }
      .input-search {
        width: 168px;
        position: relative;
        top: 0;
        left: 0;
      }
      .header-right {
        margin-left: 18px;
        position: relative;
        top: 4px;
      }
    }
    .main-choice {
      height: 300px !important;
      .body-choice-right {
        height: 300px !important;
      }
    }
  }
}

.bill-read-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
  background: #fff;
  opacity: 0;
  filter: alpha(opacity = 0);
}

.bill-read-status {
  z-index: 35;
  position: relative;
}

.pop-choice-small {
  padding-bottom: 5px;
  li {
    border: 1px solid #c7c7c7;
    background-color: #f1f1f1;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #1d140d;
    cursor: pointer;
    margin: 5px auto 0;
    width: 95%;
    text-align: center;
    a {
      display: block;
      height: 30px;
      line-height: 30px;
    }
  }
}

.oa-index-html {
  background-color: #f2f2f2;
  height: 100%;
  .index-content {
    border: 2px solid #71b9ed;
    height: 250px;
    margin: 0 48px;
    background-color: #fff;
    padding: 0 18px;
    overflow: hidden;
    .content-header {
      height: 43px;
      line-height: 42px;
      border-bottom: 1px solid #98cef4;
      font-size: 12px;
      color: #2f2f2f;
      font-weight: 700;
      .header-first {
        position: relative;
        font-weight: 400;
        margin-right: 12px;
        cursor: pointer;
      }
      .header-icon {
        font-size: 14px;
        color: #3b3a49;
        margin-right: 8px;
      }
      .header-right {
        float: right;
        padding-right: 5px;
        i {
          font-size: 20px;
          cursor: pointer;
          color: #2f2f2f;
        }
        .arrow-icon-left, .arrow-icon-right {
          display: inline-block;
          width: 14px;
          height: 13px;
          background: url(../images/icon-arrow.png) no-repeat;
          position: relative;
          top: 2px;
        }
        .arrow-icon-left {
          background-position: 0 -22px;
        }
        .arrow-icon-right {
          background-position: 5px -62px;
        }
        .arrow-icon-left-disabled {
          background-position: 0 -2px;
        }
        .arrow-icon-right-disabled {
          background-position: 5px -43px;
        }
        .header-num {
          font-weight: 700;
          position: relative;
          margin-right: 5px;
        }
      }
    }
    ul {
      li {
        display: block;
        font-size: 12px;
        color: #2f2f2f;
        padding-left: 16px;
        line-height: 28px;
        height: 28px;
        position: relative;
        .dot {
          width: 4px;
          height: 4px;
          position: absolute;
          left: 4px;
          top: 50%;
          margin-top: -2px;
          background-color: #acacac;
        }
        .li-left {
          width: 70%;
          float: left;
          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          .oaHandleRed {
            float: left;
            top: 3px;
            margin-right: 5px;
            background-image: url(../images/xinhao-small.png);
            width: 16px;
            height: 17px;
            position: relative;
          }
          .oaHandleYellow {
            float: left;
            top: 3px;
            margin-right: 5px;
            background-image: url(../images/xinhao-small.png);
            width: 16px;
            height: 17px;
            position: relative;
            background-position: -26px 0;
          }
          .oaHandleRed {
            background-position: 0 0;
          }
        }
        .li-right {
          width: 62px;
          float: right;
          margin-right: 8px;
          text-align: right;
        }
        .li-mid {
          float: right;
          margin-right: 15px;
          text-align: right;
        }
      }
      .li-urgency {
        color: red;
      }
    }
    .no-data {
      text-align: center;
      font-size: 12px;
      color: #2f2f2f;
      margin-top: 20px;
    }
  }
}

.export-data-by-field {
  .cursor-pointer {
    cursor: pointer;
    position: relative;
    top: 1px;
  }
  .export-choice-content {
    width: 548px;
    height: 160px;
    border: 2px solid #76aff6;
    margin: 38px auto 18px;
    overflow: auto;
    background-color: #e6e6e6;
    padding: 0 27px;
    .field-selection-label {
      cursor: pointer;
      display: inline-block;
      margin: 17px 18px 0 0;
      font-size: 12px;
      color: #2f2f2f;
      input {
        vertical-align: -3px;
        margin-right: 3px;
      }
    }
  }
}

.historyWfHtml {
  padding: 70px 70px 0;
  .select-left {
    width: 98px;
    text-align: left;
    font-size: 12px;
    color: #2f2f2f;
    height: 34px;
    line-height: 34px;
    font-weight: 700;
    float: left;
  }
  .select-right {
    width: 406px;
    float: left;
    padding: 8px 4px;
  }
}

.personal-file-cabinet {
  .left-menu {
    width: 214px;
    font-size: 12px;
    padding: 32px 12px 0 14px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background-color: #fff;
    .left-menu-ul {
      .left-menu-ul-li {
        color: #2f2f2f;
        border-bottom: 1px dashed #dedede;
        padding: 5px 0;
        cursor: pointer;
        .li-header i {
          margin-right: 6px;
        }
        .file-content {
          margin-top: 7px;
          .file-input {
            width: 188px;
            height: 28px;
            border: 1px solid #b7b7b7;
            position: relative;
            input {
              font-size: 12px;
              padding: 6px;
              width: 160px;
              border: 0;
            }
            .file-add {
              font-size: 16px;
              position: absolute;
              right: 5px;
              top: 50%;
              margin-top: -9px;
              color: #65a0e8;
              cursor: pointer;
            }
          }
          .in-ul {
            padding-bottom: 8px;
            height: 100px;
            li {
              margin-top: 5px;
              line-height: 24px;
              height: 24px;
              padding: 0 5px 0 11px;
              color: #747e8e;
              &:after {
                clear: both;
                content: '.';
                display: block;
                height: 0;
                line-height: 0;
                overflow: hidden;
              }
              .li-left {
                float: left;
                margin-right: 5px;
                font-size: 16px;
              }
              .li-mid {
                float: left;
              }
              .li-right {
                float: right;
                font-size: 16px;
              }
              &:hover {
                background-color: #8cbcf0;
                color: #fff;
                .li-left:before {
                  content: "\f07c";
                }
              }
            }
          }
        }
      }
      .li-pl12 {
        padding-left: 12px;
      }
    }
  }
  .left-menu-line {
    width: 5px;
    background-color: #dedede;
    border-left: 1px solid #c6c6c6;
    cursor: pointer;
  }
  .new-group-add {
    padding-top: 56px;
    width: 490px;
    margin: 0 auto;
    color: #2f2f2f;
    .add-top {
      margin-left: 14px;
    }
    .group-li {
      margin: 15px 0 40px;
      &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
      }
      .group-name {
        float: left;
        line-height: 40px;
        height: 40px;
        i {
          color: red;
        }
      }
      .group-content-input {
        float: left;
        height: 40px;
        border: 2px solid #76aff6;
        width: 434px;
        input {
          width: 100%;
          padding: 10px 0 10px 10px;
          border: 0;
        }
      }
    }
  }
  .file-group-change-to {
    width: 496px;
    margin: 0 auto;
    padding: 30px 0 0;
    .left-menu-ul {
      margin-bottom: 25px;
      .left-menu-ul-li {
        border-bottom: 0;
        .file-content {
          .file-name-title {
            height: 28px;
            line-height: 28px;
            float: left;
            color: #2f2f2f;
            font-weight: 700;
          }
          .file-input {
            width: 436px;
            float: right;
            input {
              width: 400px;
            }
          }
          .in-ul {
            margin-top: 10px;
            border: 2px solid #76aff6;
            height: 300px;
            overflow: auto;
            padding-bottom: 0;
            li {
              padding: 0 20px 0 11px;
            }
          }
        }
      }
    }
  }
}

.avalon-init-hide {
  display: none;
}

.avalon-init-show {
  display: block;
}

.ms-controller {
  visibility: hidden;
}

.header-group {
  font-size: 12px;
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  div, input, select, span {
    float: left;
  }
  div, input, select {
    margin-top: 10px;
  }
  .header-title {
    height: 26px;
    line-height: 26px;
    margin-top: 10px;
  }
}

.li-icon-arrow-down, .li-icon-arrow-top {
  background-image: url(../images/icon/setting-sprite.png);
  width: 5px;
  height: 12px;
  display: inline-block;
}

.header-group {
  .margin-left-out {
    margin-left: 10px;
  }
  .margin-right-out {
    margin-right: 10px;
  }
  .margin-left-in {
    margin-left: 4px;
  }
  .margin-right-in {
    margin-right: 4px;
  }
  .margin-top-in {
    margin-top: 12px;
  }
  .margin-top0 {
    margin-top: 0;
  }
  .js-level-search .li-icon-arrow-down {
    position: relative;
    top: 2px;
    margin-top: -3px;
  }
  select {
    padding: 4px 5px;
  }
}

.li-icon-arrow-down {
  background-position: -21px -22px;
}

.li-icon-arrow-top {
  background-position: -44px 0;
}

.file-icon {
  height: 20px;
  line-height: 20px;
  padding-left: 20px;
  background: url(../images/file-icon.png) -6px -16px no-repeat;
}

.file-icon-word {
  background: url(../images/file-icon.png) -6px -100px no-repeat;
}

.file-icon-pdf {
  background: url(../images/file-icon.png) -6px -140px no-repeat;
}

.file-icon-tiangu {
  background: url(../images/file-icon.png) -6px -59px no-repeat !important;
}

.main-header-note-tip {
  font-style: normal;
  width: 21px;
  height: 14px;
  background: url(../images/note-tip-bg.png) no-repeat;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
  text-align: center;
  font-family: "宋体";
  position: absolute;
  margin-top: -7px;
  overflow: hidden;
}

.main-note-tip {
  font-style: normal;
  width: 21px;
  height: 14px;
  background: url(../images/note-tip-bg.png) no-repeat;
  font-size: 12px;
  color: #fff;
  line-height: 14px;
  text-align: center;
  font-family: "宋体";
  position: absolute;
  margin-top: -7px;
  overflow: hidden;
  top: 50%;
  right: 57px;
  display: none;
}

.main-header-note-tip {
  top: 1px;
  right: 0;
}

//兼容ie8的字体库
.icon-download{
  background-image: url(../images/icons-ie8.png);
  background-position: -30px 0px;
  width: 18px;
  height: 16px;
  display: inline-block;
  &:before{
    content: "";
  }
}
.icon-trash-o{
  background-image: url(../images/icons-ie8.png);
  background-position: -26px -26px;
  width: 14px;
  height: 16px;
  display: inline-block;
  &:before{
    content: "";
  }
}
.icon-envelope{
  background-image: url(../images/icons-ie8.png);
  background-position: 0px 0px;
  width: 20px;
  height: 16px;
  display: inline-block;
  &:before{
    content: "";
  }
}
.icon-times-circle{
  background-image: url(../images/icons-ie8.png);
  background-position: 0px -26px;
  width: 16px;
  height: 16px;
  display: inline-block;
  &:before{
    content: "";
  }
}

//加印单
.print-document{
  margin: 0 auto;
  padding-top: 30px;
  width: 700px;
  .bottom-line{
    border-bottom: 3px solid #000;
  }

  .document-tip{
    margin-top: 30px;
    font-size: 14px;
    .document-tip-content{
      margin-top: 10px;
      label{
        cursor: pointer;
        input{
          margin-right: 10px;
        }
      }
    }

  }
  .print-document-content{
    h2{
      font-weight: bold;
      font-size:24px;
    }
    .content-body{
      font-size: 16px;
      margin-top: 20px;
      text-indent:2em;
      line-height:30px;
      .bold-content{
        font-weight: bold;
        padding: 0 5px;
      }
    }
    .content-footer{
      text-align: right;
      padding-right: 20px;
      font-size: 16px;
      margin-top: 100px;
    }
  }
}
